* {
	box-sizing: border-box;
}

body {
	font-family: Helvetica;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	background-color: #050505;
	color: #fafafa;
	min-height: 100vh;
	height: auto;
	margin: 0;
	padding: 0;
}

label,
button {
	background-color: #122c41;
	padding: 8px;
	margin: 4px;
	border: 0;
	border-radius: 8px;
	color: #fafafa;
	font-size: 16px;
}

input[type="radio"]:hover + label {
	background-color: #173853;
}

button:hover {
	background-color: #173853;
}

.selected {
	background-color: #2c77ba !important;
}

input[type="radio"]:checked + label {
	background-color: #2c77ba;
}

input[type="radio"] {
	display: none;
}

.red {
	background-color: #b41f1f;
}

.red:hover {
	background-color: #c42525;
}

.rewards {
	margin-top: 16px;
	bottom: 0;
	background-color: #122c41;
	padding: 16px 32px;
	font-size: 16px;
	width: 100%;
}
